ul {
  list-style-type: none;
}

#header {
    position: fixed; 
    background-color: #F7A9B9;
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    z-index: 9998;
}
#header img {
    object-fit: contain;
    width: 80px;
    height: 30px;    
}


.openBtn {
    position: fixed;
    top: -1%;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    width: 60px;
    height: 50px;
}
.openBtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #6A4943;
    width: 45%;
}
.openBtn span:nth-of-type(1) {
    top: 15px;
}
.openBtn span:nth-of-type(2) {
    top: 23px;
}.openBtn span:nth-of-type(3) {
    top: 31px;
}
.openBtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.openBtn.active span:nth-of-type(2) {
    opacity: 0;
}
.openBtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#gNav {
    position: fixed;
    z-index: -10;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #E08D9E;
    transition: all 0.3s;
}

#gNav.panelactive {
    opacity: 1;
    z-index: 999;
}
#gNav.panelactive #gNavList {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#gNav ul {
    display: none;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 0;
    text-align: center;
}
#gNav.panelactive ul {
    display: block;
}
#gNav a {
    display: block;
    font-size: 20px;
    color: #252525;
    background: #EFDDD5;
    border-radius: 20px;
    padding: .5rem;
    width: 200px;
    height: 30px;
    margin: 0 auto;
}
#gNav li {
    margin: 15%;
}



.menuBtn {
    position: fixed;
    background-color: #F7A9B9;
    bottom:0vh;
    height: auto;
    width: 100%;
    z-index: 9999;
    margin: 0 auto;
    padding: 0;
}
.menuBtn ul {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}
.menuBtn li {
    font-size: 10px;
    margin: 5px;
    padding: .2rem 1rem;
    background-color: #6A4943;
    border-radius: 10px;
}
.menuBtn a {
    justify-content: center;
    color: #fff;
}


#stampCard {
  position: relative;
  width: 350px;       /* カード画像の幅に合わせる */
  height: 180px;      /* カード画像の高さに合わせる */
  background-image: url('images/Surface_brown.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}


#stamp1 {
  width: 30px;
  height: 30px;
  top: 47%;
  left: 6%;
}

#stamp2 {
  width: 30px;
  height: 30px;
  top: 47%;
  left: 26%;
}

#stamp3 {
  width: 30px;
  height: 30px;
  top: 47%;
  left: 45%;
}

#stamp4 {
  width: 30px;
  height: 30px;
  top: 47%;
  left: 65%;
}

#stamp5 {
  width: 30px;
  height: 30px;
  top: 47%;
  left: 85%;
}

.stamp.active {
  opacity: 1;
}
/* 押した瞬間のアニメーション */
.stamp.pop {
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0%   { transform: scale(0.5); opacity: 0.2; }
  60%  { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}


.stamp {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 0.3s ease;
}
.stampPerfect {
  position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transition: 0.3s ease;
}

#couponArea {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#couponImage {
  /* display: none; */
  width: 300px;
  height:200px;
  object-fit: contain;
}
#useCouponBtn {
  display: none;
}

#footer {
  background-color: #e79aaa;
  color: #fff;
  padding: 60px  40px 20px;
   position: relative;
  overflow: hidden;
  margin-top: 15%;
}

.footerLogo img {
  width: 120px;
  height: 50px;
  margin-bottom: 20px;
  object-fit: contain;
}

.footerNav ul li{
    padding:.5rem 10px;
    list-style: none;
}

.footerNav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footerNav a:hover {
  text-decoration: underline;
}